body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-image: url(/imgs/Untitled\ design.png);
    background-size: cover;
    background-position: center;
    font-family: "Mukta Malar", serif;
    color: white;
}

.hide {
    display: none;
}


.error {
    background-color: #28272fb8;
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 1vh;
    border-radius: 10px;
}


.error-text {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.login {
    background-color: #28272f9d;
    width: 25%;
    margin: auto;
    border-radius: 10px;
    padding: 1% 2%;
    margin-top: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.title p{
    font-size: 38px;
    text-align: center;
    margin: 0%;
    margin: 2vh auto;
    font-weight: bold;
}


form {
    width: 100%;
}


form input {
    width: 95%;
    height: 4vh;
    padding: 5px 5px;
    border-radius:5px ;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.119);
    color: white;
}

input::placeholder {
    color: rgb(228, 228, 228);
}

.input-div {
    margin: 4vh 0px;
}

.input-title {
    margin: 0%;
}

.btn-div {
    width: 80%;
    margin: auto;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}


.last {
    display: flex;
    justify-content: center;
    align-items: center;
}

.respage a {
    text-decoration: underline;
    color: white;
}


.last span {
    color: white;
    margin: 0px 5px;
}


.forget a {
    text-decoration: underline;
    color: white;
}




.register {
    background-color: #28272f9d;
    width: 25%;
    margin: auto;
    border-radius: 10px;
    padding: 1% 2%;
    margin-top: 2%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.res-title{
    font-size: 38px;
    text-align: center;
    margin: 0%;
    margin: 2vh auto;
    font-weight: bold;
}


.p {
    margin: 0%;
}


.backto {
    text-align: center;
    font-size: 18px;
}


.backto a{
    text-decoration: underline;
    color: white;
}